Frame {
}

body {
	text-align: center;
}

div {
  width: 590px;
  height: 370px;
  background-color: #556B2F;
  text-align: center;
  padding-top: 30;
	display: inline-block;
}

#Monster {
	background-color: #808000;
;
}

#Egypt {
	background-color: #c2b280;
}

#Africa {
	background-color: #FF8C00;

}

#Ness {
	background-color: #2F4F4F;

}

#Norway {
	background-color: #A9A9A9;

}

h2.White {
	color: #FFFFFF;
}

figcaption.White{
	color: #FFFFFF;
}

body {
  background-image: url("Big Black.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
}
