body{
  width: 1500px;
  margin: 0 auto;
  text-align: center;
  background-color: #FFFFFF;
}

h1.head {
	background-color: #FFDF00;
	margin: auto;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	border-style: ridge;
	border-width: 8px;
	border-color: #000000;
	width: 960px;
}

#Pages {
	background-color: #FFDF00;
  	padding: px;
  	margin: 10px;
  	width: 150px;
  	display: inline-block;
  	position: relative;
  	text-align: center;
  	border-style: ridge;
  	border-color: #000000;
  	border-width: 8px;
  	font-size: 12px;


}

#Sections1 {
	background-color: #000000;
	padding: 10px;
	margin: 10px;
	width: 480px;
	height: 850px;
	display: block;
	position: relative;
	left: 800px;
	border-style: double;
	border-color: #343637;
	border-width: 12px;
	top: 20px;
}

#Sections2 {
	background-color: #000000;
	padding: 10px;
	margin: 10px;
	width: 480px;
	bottom: 910px;
	display: block;
	position: relative;
	left: 150px;
	height: 263px;
	border-style: double;
	border-color: #343637;
	border-width: 12px;
}

#Sections3 {
	background-color: #000000;
	padding: 10px;
	margin: 10px;
	width: 480px;
	bottom: 910px;
	display: inline-block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	height: 350px;
	padding: 50px;
	margin: 14px;
	border-style: double;
	border-color: #343637;
	border-width: 12px;
}

#Sections4 {
	background-color: #000000;
	padding: 5px;
	margin: 10px;
	width: 480px;
	bottom: 10px;
	display: inline-block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	height: 350px;
	padding: 40px;
	margin: 14px;
	border-style: double;
	border-color: #343637;
	border-width: 12px;
}

a {
	color: #000000;
}

a:hover {
	color: #0000FF;
}

body {
  background-image: url("Cool.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
}

#White {
	color: #FFFFFF;
	font-size: 20px;
}

#Big {
	font-size: 30px;
	color: #FFFFFF;
}

#Copyright {
	background-color: #343637;
	width: 960px;
	height: 100px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	color: #FFFFFF;
	text-align: center;
	vertical-align: middle;
	line-height: 100px;
}

th, td {
	padding: 15px;
	text-align: center;
}

#Table {
	background-image: url(Forrest.jpg);
	margin-left: auto;
	margin-right: auto;
	width: 1510px;
	height: 1510px;
}

#Center {
	margin-right: auto;
  	margin-left: auto;
  	border: 8px;
  	border-style: ridge;
  	border-color: #000000;
    background-color: #FFFFFF;
}

tr.one:hover {
	background-color: #fff0c1;
}
tr.two:hover {
	background-color: #e0c1ff;
}
tr.three:hover {
	background-color: #e0ffc1; 
}
tr.four:hover {
	background-color: #ffc1c1;
}
tr.five:hover {
	background-color: #d1f0ff;
}
tr.six:hover {
	background-color: #bcbcbc;
}
